.container {
    width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    .drag {
        width: 25rem;
        height: 10rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color: aqua;
        border: 3px solid orange;
        text-align: center;
        line-height: 10rem;
        font-weight: 700;

        cursor: grab;

        &A {
            line-height: normal;
        }

        &B {
            line-height: normal;
            background-color: red;

            cursor: not-allowed;
        }

        .stop {
            width: 50%;
            height: 50%;
            background-color: red;
            margin: 2rem auto;

            cursor: not-allowed;
        }

        .allow {
            width: 50%;
            height: 50%;
            background-color: aqua;
            margin: 2rem auto;

            cursor: grab;
        }
    }
}
